header
{
    background: #0f171e;
}
.container-fluid
{
    color: white;
}
.img1
{
    width: 100px;
}
.div1
{
    padding-left: 100px;
    padding-top: 70px;
}
.div2
{
    
    padding-top: 70px;
}
.fn
{
    
}
